= form_for :session, url: session_path do |form|
  %div
    = form.label :email
    = form.email_field :email
  %div
    = form.label :password
    = form.password_field :password
  %div
    = form.submit "Sign in"
