= div_for(@play) do
  .play_name
    = @play.name
  .play_description
    = @play.description

  = link_to "Add photo or video", new_team_play_medium_path(@play.team, @play), class: "new_media_button"

  #media
    = render @media

  #play_comments
    #new_play_comments
      = button_tag "Add comment to play", class: "new_play_comment", data: "play_#{@play.id}"
    = render @comments
