= div_for(medium) do
  = render medium.content
  = medium.caption
  .media_comment
    = button_tag "Add comment to media", class: "new_media_comment", data: "medium_#{medium.id}"
  = render medium.comments
