!!!
%html
  %head
    %title Playbookr
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if signed_in?
      = current_user.email
      = link_to "Sign out", session_path, method: :delete
      -if current_user.team.nil?
        = link_to "Create team", new_team_path
    - else
      = link_to "Sign in", new_session_path
      = link_to "Sign up", new_user_path
    = yield
