!!!
%html
  %head
    %title Playbookr
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags
  %body
    .navigation
      = render "navigation"

    .content_layout
      = yield

    = yield :welcome
